extends layout

block content
  .row
    .col-md-6
      h2 Usage
      p Pass a <strong>url</strong> param to this app to overlay a hand on it.
      p You can pass an optional <strong>type</strong> param to specify the hand. The following are valid hands:

    .col-md-6
      h2 Hand Types
      dl
        dt
          i.glyphicon.glyphicon-hand-right
          | &nbsp;&nbsp;hand
        dd This is the default hand
        dt
          i.glyphicon.glyphicon-hand-right
          | &nbsp;&nbsp;pinch-1
        dd This is a pinchy hand.
        dt
          i.glyphicon.glyphicon-hand-right
          | &nbsp;&nbsp;pinch-1
        dd This is also a pinchy hand.
        dt
          i.glyphicon.glyphicon-hand-right
          | &nbsp;&nbsp;point
        dd This hand points.
  .row
    .col-md-12
      h2 Try It
      form.form-inline(role="form", action="/", method="get")
        .form-group.col-md-6
          label.sr-only(for="url") Enter image URL
          .input-group
            .input-group-addon URL
            input.form-control(type="text", name="url", placeholder="Enter Image URL")

        .form-group.col-md-3
          label.sr-only(for="type") Hand Type
          select.form-control(name="type")
            option(value="hand") Hand
            option(value="pinch-1") Pinch #1
            option(value="pinch-2") Pinch #2
            option(value="point") Point
        .col-md-3
          input.btn.btn-warning.btn-default(type="submit") Try
