extends layout

block content
  =hands
  .row
    .col-md-6
      h2 Usage
      p Pass a <strong>url</strong> param to this app to overlay a hand on it.
      p You can pass an optional <strong>type</strong> param to specify the hand. The following are valid hands:

    .col-md-6
      h2 Hand Types
      dl
        each obj, key in hands
          dt
            i.glyphicon.glyphicon-hand-right
            |&nbsp;&nbsp;
            = key
          dd
            = obj.description
  .row
    .col-md-12
      h2 Try It
      form.form-inline(role="form", action="/", method="get")
        .form-group.col-md-3
          label.sr-only(for="type") Hand Type
          select.form-control(name="type")
            each obj, key in hands
              option(value=key)= obj.description
        .form-group.col-md-6
          label.sr-only(for="url") Enter image URL
          .input-group
            .input-group-addon URL
            input.form-control(type="text", name="url", placeholder="Enter Image URL")
        .col-md-3
          input.btn.btn-warning.btn-default(type="submit") Try
